body{
    margin: 10px;
    padding: 5px 30px;
    background-color: rgb(228, 129, 211);
   
}
header{
    color:rgb(190, 16, 98);
    position: fixed;
    background-color: rgb(125, 240, 18);
    width: 100%;
}
nav ul li{
    
    display: inline;
    position: static;
    padding: 10px 5px;
    font-size: 15px;

}
nav ul li:hover{
    background-color: turquoise;
}
nav ul li a{
    text-decoration: none;
}
#content{
    display: flex;
    
}
section{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
    margin-top: 50px;
}
#bottom{
    float:3;
    order: 3;
}
@media (min-width:900px){
    #content{
        display: flex;
        justify-content: space-between;
    }
}
article{
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
}
.title{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    
}
.date{
    font-style: italic;
    color: rgb(72, 241, 185);
    text-transform: uppercase;
}img{
    float: right;
    width: 30%;
    margin-left: 1.6%;
}
#myname{
    text-align: center;
    width: 100%;
    border-bottom: solid sandybrown 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}